<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--name必须为logImpl，I为大写，value需要使用mybatis提供的哪些，不能有空格-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--配置数据源，交给spring了-->

    <!--配置别名-->
    <typeAliases>
        <package name="com.tian.pojo"/>
    </typeAliases>


    <mappers>
        <mapper class="com.tian.dao.BookMapper"/>
<!--        <mapper resource="com/tian/dao/BookMapper.xml"/>-->
<!--        <package name="com.tian.dao"/>-->
    </mappers>

</configuration>